@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr !important;
  }
}
